@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  background-color: #45171d;
}

.content{
  margin-left: 5%;
  margin-right: 3%;
}

header {
  margin-top: 2%;
  padding: 2% 0;
  text-align: center;
  font-family:'Poppins', sans-serif;
}

#tagline{
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.nav-links{
    justify-content: flex-end;
}

body {
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  color:#fecea8;
  text-align: left;
  line-height: 1.5;
  margin: 0%;
}

main{
  background-color: #45171d;
}

section{
  margin-bottom: 8rem;
  padding: 4%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 6%;
}

a{
  color: #f03861;
  text-decoration: none;
  font-size: 3rem;
}

li{
  list-style: none;
  display: inline;
}

.error-content {
    border: 0.1em solid #f03861;
    font-size: 1em;
    display:inline-block;
    font-family: 'PT Serif', serif;
    padding: 0.313em 0.500em 0.313em 0.500em;
    margin: 0.5em;
}

h1 {
  color: #f03861;
  margin-top: 6rem;
  margin-right: 1rem;
  margin: auto;
  font-size: 4rem;
}

h2, h3, h4 {
  /* font-size: 90%; */
  color: #f03861;
  text-align: center;
}

.logo{
    border-radius: 70%;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

#site{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0.5rem;
};

#siteTitle{
  align-self:flex-end;
}

.add-event{
  display: flex;
  flex-direction: row-reverse;
  margin: 0%;
}

.event-owner{
    height: 5rem;
    margin-right: 1rem;
}

label{
  font-family:'Poppins', sans-serif;
}

.js-add-event  {
    border: 0.07em solid  #ff847c;
    font-size: 1.125em;
    background-color: #ff847c;
}

button{
    border: 0.07em solid  #ff847c;
    border-radius: 4%;
    font-size: 0.7em;
    background-color: #ff847c;
    font-family: 'PT Serif', serif;
}

.container {
    background-color: #fecea8;
    color: #45171d;
    margin: 5%;
    border-radius: 1%;
}

.description{
  padding: 2%;
}

.event-box{
  display: flex;
  flex-direction: row;
}

.login-box{
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.search-box{
  padding: 2%;
}

.button-box{
  display: flex;
  flex-direction: row-reverse;
  margin: 3%;
  padding-bottom: 2%;
}

#cancel-error{
    border: 0.05em solid #f03861;
    font-size: 0.7em;
}

@media screen and (min-width: 768px){
  .body{
    width: 40%;
    height: 40%
  } 
  .description-box{
    display: flex;
    flex-direction: row-reverse;
  }
  .description-text{
    display: block;
    margin-right: 2rem;
  }
} 

@media screen and (min-width: 1000px){
  body{
    width: 60%;
    height: 60%;
    margin: auto;
  } 
} 

@media screen and (min-width: 1100px){
  body{
    width: 70%;
    height: 70%;
    margin: auto;
  } 
} 